{% extends 'base.html.twig'%}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
{% if app.user != null %}

<body>
    <div class="d-flex justify-content-center vw-100">
        <div class="chatList p-2 rounded shadow mt-5">
            <div class="d-flex mb-3 p-3 justify-content-between align-items-center shadow">
                <div class="d-flex align-items-center">
                    <img class="avatar rounded-circle shadow" src="{{asset('uploads/'~ app.user.avatar)}}" alt="">
                    <h3 class="m-2" style="font-size: 1.5rem;">Chat</h3>
                </div>
                <a href="" class="btn btn-success">Homepage</a>
            </div>
            <div class="input-group mb-3 shadow">
                <input type="text" name="" id="searchText" class="form-control" placeholder="Search...">
                <button class="btn btn-success" id="searchButton">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <ul class="list-group mvh-50 overflow-y-auto shadow" id="list-group">
            </ul>
        </div>
    </div>
</body>

{# //  <script>
//     $(document).ready(function(){
//         $("#searchText").on("input",function(){
//             let searchText = $(this).val();
//             console.log(searchText);
//         })
//     })
//  </script> #}
{% block javascript %}
<script>
    $(document).ready(function(){

        $.ajax({
        url: '/message/list',
        data:{'name':''},
        success: function(users) {
            $('#list-group').empty();
            // data is the JSON response
            console.log(users);
            for (var i = 0; i < users.length; i++) {
                $('#list-group').append(
                    '<li class="list-group-item">' +
                        '<a href = "/message/chat/' + (users[i]['id'])+ '" class="d-flex justify-content-between align-item-center p-2">' +
                            '<div class="d-flex align-items-center">' +
                                '<img src="{{asset("uploads/")}}' + (users[i]['avatar'] != null ? users[i]['avatar'] : 'defaultProfile.jpg') + '" alt="" class="icon rounded-circle shadow">' +
                                '<h3 class="m-2" style="font-size: 1rem;">' + users[i]['username'] + '</h3>' +
                            '</div>' +
                        '</a>' +
                    '</li>'
                );
            }
        }
        });

        $("#searchText").on("input",function(){
            let searchText = $(this).val();
            $.ajax({
            url: '/message/list',
            data:{'name':searchText},
            success: function(users) {
                $('#list-group').empty();
                // data is the JSON response
                console.log(users);
                for (var i = 0; i < users.length; i++) {
                    $('#list-group').append(
                        '<li class="list-group-item">' +
                            '<a href = "/message/chat/' + (users[i]['id'])+ '" class="d-flex justify-content-between align-item-center p-2">' +
                                '<div class="d-flex align-items-center">' +
                                    '<img src="{{asset("uploads/")}}' + (users[i]['avatar'] != null ? users[i]['avatar'] : 'defaultProfile.jpg') + '" alt="" class="icon rounded-circle shadow">' +
                                    '<h3 class="m-2" style="font-size: 1rem;">' + users[i]['username'] + '</h3>' +
                                '</div>' +
                            '</a>' +
                        '</li>'
                    );
                }
            }
            });
            // console.log(searchText);
        })

        $("#searchButton").on("click",function(){
            let searchText = $("#searchText").val();
            $.ajax({
            url: '/message/list',
            data:{'name':searchText},
            success: function(users) {
                $('#list-group').empty();
                // data is the JSON response
                console.log(users);
                for (var i = 0; i < users.length; i++) {
                    $('#list-group').append(
                        '<li class="list-group-item">' +
                            '<a href = "/message/chat/' + (users[i]['id'])+ '" class="d-flex justify-content-between align-item-center p-2">' +
                                '<div class="d-flex align-items-center">' +
                                    '<img src="{{asset("uploads/")}}' + (users[i]['avatar'] != null ? users[i]['avatar'] : 'defaultProfile.jpg') + '" alt="" class="icon rounded-circle shadow">' +
                                    '<h3 class="m-2" style="font-size: 1rem;">' + users[i]['username'] + '</h3>' +
                                '</div>' +
                            '</a>' +
                        '</li>'
                    );
                }
            }
            });
            // console.log(searchText);
        })


    })
</script>
{% endblock %}
<style>
    *{
        transition:0.3s;
        margin: 0;
        padding: 0;
    }

    .chatList{
        width: 400px;
    }

    .w-10{
        width:10%;
    }

    .overflow-y-auto{
        overflow-y: auto;
        overflow-x: hidden;
    }

    .icon{
        width:50px;
        height:50px;
    }
    .avatar{
        width: 62px;
        height: 62px;
    }

    .mvh-50{
        max-height:50vh;
    }

    a{
        text-decoration: none;
    }
    li.list-group-item:hover{
        transform: scale(1.1);
        background-color: rgb(236, 236, 236, 1);
    }
</style>

{% else %}
{% endif %}
{% endblock %}